/* UTILITY CLASSES */

/* 
CONTENTS
  ALIGNMENT
  MARGINS/PADDING
  COLORS 
*/


/* ALIGNMENT */

.flex-between {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  
.align-center {
  display: flex;
  align-items: center;
}

.wrapper-center {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.flex {
  display: flex;
}

/* MARGINS / PADDING */

.m0 {
  margin: 0;
}

.m1 {
  margin: 0.5rem;
}

.m2 {
  margin: 1rem;
}

.m3x {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.p1 {
  padding: 0.4em 0.4em;
}

.h100 {
  height: 100%;
}

/* COLOURS & BORDERS */

.primary {
  background: var(--primary) !important;
  color: white;
}

.secondary {
  background: var(--secondary) !important;
  color: white;
}

.light {
  background: var(--light)
}

.close {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background: var(--danger);
  color: white;
  margin: 0.1em;
}

.highlight {
  background-color: var(--grey);
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
  margin: 0.2em 0.2em;
  border: solid 1px rgb(192, 192, 192);
  animation: slide 300ms ease-out;
}

.highlight:hover {
  background-color: var(--primary);
  color: white;
}

.modal {
  border: none;
  border-radius: 1em;
  padding: 1em 2em;
  min-width: 20rem;
}

.modal::backdrop {
  background: black;
  opacity: 0.5;
}

.em {
  font-style: italic;
}

.plain-link {
  color: currentColor;
  text-decoration: none;
  cursor: default;
}

.skeleton-text {
  background:rgb(192, 192, 192);
  width: 20%;
  height: 1em;
  display: inline-block;
  transform-origin: top left;
}
