@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

:root {
  --primary: #3954C0;
  --secondary: #2995B4;
  --light: #74C2D8;
  --highlight: #4BD775;
  --danger: rgb(247, 122, 122);
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway";
  padding: 0;
  margin-top: 1rem;
  background: rgb(230, 230, 230)
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.5rem;
  background: var(--light);
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(100,100,100,0.6);
}

.navbar > div {
  margin: 0 2rem;
}

#logo-img {
  height: 2rem;
  width: 2rem;
}

#gear-img {
  height: 1.3rem;
  width: 1.3rem;
  margin-top: 0.2rem;
}

.nav-spacer {
  margin-bottom: 3rem;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  text-decoration: none;
  margin: 0;
  padding: 0.3em;
  color: black;
  list-style: none;
  min-width: 8rem;
  background-color: white;
  border-bottom: var(--light) 1px solid;
}

.dropdown {
  position: relative;
}

#user-menu {
  position: absolute;
  display: block;
  left: -5rem;
  border-radius: 0.5em;

}

.feed {
  width: 40%;
  background: white;
  padding: 0.5rem;
}

.sidebar {
  width: 30%;
  background: white;
}

.login {
  margin: auto;
  width: auto;
  border: solid grey 1px;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.saved-users {
  margin: auto;
  width: auto;
  border: solid grey 1px;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.wrapper-center {
  margin-top: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* MESSAGES */

.chatbox {
  position: fixed;
  bottom: 0px;
  right: 3rem;
  padding: 0.5rem;
  background: white;
  border-radius: 0.5em;
  border: #eee solid 1px;
}

.chat-messages {
  max-height: 40vh;
  overflow-y: scroll;
}

.chat-writer {
  padding-top: 0.4rem;
}

.chat-writer input {
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.chat-writer input::placeholder {
  color:rgb(199, 199, 199);
}

.messagegroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.5em;
}

.timestamp {
  color: rgba(0, 0, 0, 0.719);
  font-size: 0.6rem;
  margin-right: 0.5em;
}

.msg {
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

.sentMsg {
  background: rgba(108, 228, 108, 0.6);
  align-self: flex-start;
}

.receivedMsg {
  background: rgba(124, 124, 228, 0.6);
  align-self: flex-end;
  text-align: right;
}

/* AVATAR */

.avatar {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
}

.avatar-image {
  border-radius: 50%;
   width: 3rem;
   height: 3rem;
   background: grey;
}

/* WRITER */

.writer input {
  border: none;
  width: 100%;
  font-size: 1.3rem;
}

.writer input:focus {
  outline: none;
}

.writer input::placeholder {
  color:rgb(194, 194, 194);
}

/* POSTS */

.post {
  border: solid rgb(200,200,200) 1px;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5em;
}

.post-title {
  display: flex;
  justify-content: space-between;
}

.post-body {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.reactions {
  text-align: right;
  background: white;
}

button {
  font-size: 1.2rem;
  border-radius: 0.2em;
  outline: none;
  border: none;
  margin: 0.3em;
  padding: 0.2em 0.5em;
}
